<div class="m-30px" align="center">
	<form action="/measures/addmeasure" method="post">
		<input class="input-add-measure" type="text" name="name" placeholder="Название">
		<input class="input-add-measure" type="text" name="allSteps" placeholder="Кол-во шагов">
		<input class="input-add-measure" type="text" name="note" placeholder="Заметка">
		<input class="input-add-measure" type="text" name="color" placeholder="Цвет">
		<input class="usual-button" type="submit" value="+">
	</form>
</div>