<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	<meta charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Monica</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<section class="big-rectangle" style="background: #fe1020"><span class="rectangle-name">Расписание</span></section>
<section class="big-rectangle right-big-rectangle" style="background: #e12919"><span class="rectangle-name">Мензурки</span></section>
<section class="big-rectangle" style="background: #fe9920"><span class="rectangle-name">Моника</span></section>
<section class="big-rectangle right-big-rectangle" style="background: #e10019"><span class="rectangle-name">Место для ленивца</span></section>
</body>
</html>