<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Monica</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<section class="big-rectangle" style="background: #fe1020"><a class="rectangle-name" href="/schedule/schedule">Расписание</a></section>
<section class="big-rectangle right-big-rectangle" style="background: #e12919"><a class="rectangle-name" href="/measures/measures">Мензурки</a></section>
<section class="big-rectangle" style="background: #fe9920"><a class="rectangle-name" href="/">Физкультура</a></section>
<section class="big-rectangle fr" style="background: #e10019"><span class="rectangle-name">Место для ленивца</span></section>
</body>
</html>