<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml">
<head>
	{{> meta}}
	<title>Monica</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div>
{{#msrs}}
<div>
	<span>{{name}}</span>&nbsp;&nbsp;&nbsp;<span>{{doneSteps}}</span>/<span>{{allSteps}}</span>
</div>
<div>
	<form method="post">
		<input type="hidden" name="id" value="{{id}}"/>
			<div class="measure-button">
				<input type="submit" value="-"/>
			</div>
			{{{htmlView}}}
			<div class="measure-button fr">
				<input type="submit" formaction="plussteps/{{id}}" value="+"/>
			</div>
	</form>
</div>
{{/msrs}}
</div>
<div>
{{^msrs}}

Мензурок пока нет

{{/msrs}}
</div>
<div>
	<form action="/addmeasure" method="post">
		<input type="text" name="name" placeholder="Название"><br>
		<input type="text" name="allSteps" placeholder="Кол-во шагов"><br>
		<input type="text" name="note" placeholder="Заметка"><br>
		<input type="submit" value="+">
	</form>
</div>
</body>
</html>