<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Monica</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
Тут будет расписание
</body>
</html>